<div>
    <mat-card>
        <button mat-icon-button routerLink="">
            <mat-icon>keyboard_backspace</mat-icon>
        </button>
        <mat-card-header>
            <H1>Novo Item de Compra</H1>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="form">
                <mat-form-field>
                    <mat-label>Item</mat-label>
                    <input matInput type="text" formControlName="item">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Categoria</mat-label>
                    <mat-select formControlName="categoria" multiple>
                        <mat-option *ngFor="let categoria of categorias" [value]="categoria">{{categoria.nome}}</mat-option>
                    </mat-select>
                </mat-form-field>   

                <mat-form-field>
                    <mat-label>Quantidade</mat-label>
                    <input matInput type="text" formControlName="quantidade">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Valor</mat-label>
                    <input matInput type="text" formControlName="valor">
                </mat-form-field>

                <mat-checkbox formControlName='checkBox'>Comprado</mat-checkbox>

                <mat-card-actions>
                    <button mat-raised-button color="warn" type="reset">Limpar</button>
                    <button mat-raised-button color="primary" (click)="submit()">Salvar</button>
                </mat-card-actions>
            </form>
        </mat-card-content>
    </mat-card>
</div>