<mat-sidenav-container class="sidenav-container" (backdropClick)="fechaSideNav()">
    <mat-sidenav #sidenav class="sidenav" fixedInViewport="true">
        <mat-toolbar color="primary">Menu</mat-toolbar>
        <mat-nav-list (click)="fechaSideNav()">
            <a mat-list-item [routerLink]="['/lista']">Compra</a>
            <mat-divider></mat-divider>
            <a mat-list-item [routerLink]="['/item']">Produtos</a>
            <mat-divider></mat-divider>
            <a mat-list-item [routerLink]="['/categoria']">Categorias</a>           
            <mat-divider></mat-divider>
            <a mat-list-item [routerLink]="['/despensa']">Despensa</a>
            <mat-divider></mat-divider>
            <a mat-list-item [routerLink]="['/historico']">Histórico</a>
            <mat-divider></mat-divider>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary" class="header-toolbar">
            <button *ngIf="isLogado()" type="button" aria-label="Toggle sidenav" mat-icon-button
                (click)="abreSideNav()">
                <mat-icon aria-label="Side nav toggle icon"> menu</mat-icon>
            </button>
            <span>COMPRAS NET</span>
            <button *ngIf="isLogado()" mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>
        </mat-toolbar>       
        <div class="app-content">        
            <app-loader></app-loader>                
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>

<mat-menu #menu="matMenu">
    <button mat-menu-item>
        <mat-icon>account_circle</mat-icon>
        <span>Conta</span>
    </button>
    <button mat-menu-item>
        <mat-icon>settings</mat-icon>
        <span>Configurações</span>
    </button>
    <button mat-menu-item (click)="sair()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Sair</span>
    </button>
</mat-menu>