<br />
<br />
<br />
<br />
<mat-card>
  <mat-card-title>Escolha os produtos Produtos</mat-card-title>
  <div>
    <mat-radio-group>
      <mat-radio-button *ngFor="let categoria of categorias" [value]="categoria.id" (click)="getProductByCategoriaId(categoria.id)">{{categoria.nome}}</mat-radio-button>
    </mat-radio-group>

    <mat-card-content>

      <mat-list>

        <!-- <mat-list-item>
          <mat-checkbox [(ngModel)]="master_checked" [(indeterminate)]="master_indeterminate"
            (change)="master_change()"><b>Todos</b></mat-checkbox>
        </mat-list-item>

        <mat-list-item *ngFor="let product of products">
          <mat-checkbox [(ngModel)]="product.checked">
            {{ product.nome }}
          </mat-checkbox>
        </mat-list-item> -->

      </mat-list>

    </mat-card-content>
  </div>
</mat-card>


