<div>
    <mat-card>
        <button mat-icon-button routerLink="/categoria">
            <mat-icon>keyboard_backspace</mat-icon>
        </button>
        <mat-card-header>
            <H1>{{title}}</H1>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="form">
                <mat-form-field>
                    <mat-label>Nome</mat-label>
                    <input matInput type="text" formControlName="nome">
                </mat-form-field>

                <mat-card-actions align="end">
                    <button *ngIf="this.id == 0" mat-raised-button color="primary" [disabled]="!form.valid" (click)="submit()">Salvar</button>
                    <button *ngIf="this.id != 0" mat-raised-button color="primary" [disabled]="!form.valid" (click)="update()">Alterar</button>
                    <button mat-raised-button color="warn" type="reset">Limpar</button>                    
                </mat-card-actions>
            </form>
        </mat-card-content>
    </mat-card>
</div>