 
<div class="table">
  <mat-form-field>
    <mat-label>Busca</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Leite">
  </mat-form-field>
  <button mat-raised-button color="primary" routerLink="/home/cadastrar"> Adicionar Item</button>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td [class]="element.comprado ? 'markBuy' :  '' " mat-cell *matCellDef="let element"> {{element.nome}} </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="quantidade">
      <th mat-header-cell *matHeaderCellDef> Quantidade </th>
      <td mat-cell *matCellDef="let element"> {{element.quantidade}} </td>
      <td mat-footer-cell *matFooterCellDef>Comprado: {{getValueTotalComprado() | currency:'BRL'}}</td>
    </ng-container>

    <ng-container matColumnDef="valor">
      <th mat-header-cell *matHeaderCellDef> Valor </th>
      <td mat-cell *matCellDef="let element"> {{element.valor | currency:'BRL'}} </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="categoria">
      <th mat-header-cell *matHeaderCellDef> Categoria </th>
      <td mat-cell *matCellDef="let element">{{getCategoriaNome(element.categoriaId)}}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

     <ng-container matColumnDef="comprado">
      <th mat-header-cell *matHeaderCellDef> Comprado </th>
      <td mat-cell *matCellDef="let element"> {{element.comprado == false? 'Não' : 'Sim'}} </td>
      <td mat-footer-cell *matFooterCellDef>Total Itens Comprado(s):</td>
    </ng-container> 

    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef> Total </th>
      <td mat-cell *matCellDef="let element"> {{element.valor*element.quantidade | currency:'BRL'}} </td>
      <td mat-footer-cell *matFooterCellDef>Comprar: {{getValueTotalComprar() | currency:'BRL'}} </td>
    </ng-container>

    <ng-container matColumnDef="acoes">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element" align="end">
        <button mat-raised-button color="primary" (click)="markAsBuyed(element)"><mat-icon>{{element.comprado ? 'check' : 'attach_money' }} </mat-icon></button>
        <button mat-raised-button color="accent"><mat-icon>edit</mat-icon></button>
        <button mat-raised-button color="warn" (click)="deleteProduct(element.id)"><mat-icon>delete</mat-icon></button>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 15, 30]" showFirstLastButtons></mat-paginator>

</div> 

