h1 {
    background-color: grey;
    color: white;
    font-size: bold;
    padding: 20px;
}
.mat-form-field {
    padding:10px;
    font-size: 14px;
    width: 60%;
}
.table {
   padding: 20px;
   margin-top: 60px;
   height: calc(100vh - 100px);
}

table {
    width: 100%;
}

button {
    margin: 5px;
}

td, th {
    width: 20%;
}

tr.mat-footer-row {
    font-weight: bold;
}

.markBuy {
    text-decoration: line-through;
    color: #777;
}
